name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Offline Unit and Component Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo doc (warnings denied)
        run: RUSTDOCFLAGS='-D warnings' cargo doc --workspace --no-deps

      - name: Cargo test --doc
        run: cargo test --doc --workspace

      - name: Cargo test (offline scope)
        run: cargo test --workspace --all-targets
